.flex_container_fluid{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    align-items: center;
    margin: 5% 0 0 0;
    }
    .flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    margin: 0px;
    padding: 7%;
    padding-bottom: 6%;
    background: #F9FF52;
        }
        .testimonialTitle{
            align-self: center;
            display: flex;
            flex-direction: column;
            width: 30%;
            padding-top: 8%;
            }
            .titleSection{
              color: rgba(28, 28, 28, 0.3);
              font-size: 12px;
              font-weight: 700;
              letter-spacing: 2px;
              padding: 0 0 0 25%;
            }
            .subtitleSection{
            font-family: "Inter";
            font-weight: 600;
            font-size: 2.5em;
            line-height: 1.2em;
            padding: 0 0 0 25%;
            margin: 0 0 1em 0;
            }
            .imgBGtitle{
                position: relative;
                top: -280px;
                left: 8%;
                margin-bottom: -80%;
            }
        .strokeBox{
            width: 32%;
            border: 2px #1C1C1C solid;
            margin: 20px 0 20px 0;
            padding: 0;
            }
            .testimonialBox{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: relative;
                top: -8px;
                left: -8px;
                background: white;
               }
               .boxHeader{
                    display: flex;
                    align-items: center;
                    }
                    .testimonialPhoto{
                        margin: 25px 20px 25px 20px;
                    }
                    .testimonialPerson{
                        display: block;
                        }
                        .testimonialName{
                            color: #1C1C1C;
                            font-size: clamp(1em, 1.8vw, 1.5em);
                            font-weight: 800;
                            margin: 0;
                        }
                        .testimonialPosition{
                            color: #1C1C1C;
                            /* font-size: 1em; */
                            font-size: clamp(0.8em, 1vw, 1em);
                            font-weight: 500;
                            margin: 0;
                        }

                .boxBody{
                    /* height: 400px; */
                    color: #1C1C1C; 
                    font-size: 0.8em;
                    font-weight: 400;
                    margin-top: -20px;
                    padding: 0 10px 20px 20px;
                }

/* MediaQuery tablet */
@media (min-width:0px) and (max-width:960px) {

    .flex_container_fluid{
        margin: 12% 0 0 0;
    }

    .testimonialTitle{
        width: 48%;
    }
    .strokeBox{
        order: 1;
        width: 48%;
    }
  
  }

  /* MediaQuery MOBILE */
@media (min-width:461px) and (max-width:660px) {

    .testimonialTitle{
        width: 80%;
        margin: 15% 0 15% 0;
    }
    .strokeBox{
        width: 100%;
    }
  
  }
    /* MediaQuery MOBILE */
@media (min-width:0px) and (max-width:460px) {

    .testimonialTitle{
        width: 90%;
        margin: 10% 0 0 0;
    }
    .strokeBox{
        width: 100%;
    }
  
  }